html{
    background-image: url(./logos/background1.png);
    
    font-family: "poppins", "helvetica", arial;
}
header{

    margin-top:1.4%;
     display: flex;
     flex-flow: row ;
     justify-content: space-around;
     margin-left: 60%;
     display: flex;
     flex-direction: row;
     max-width: 50%;
     padding-top: 25px;
     padding-bottom: 25px;
}
.x{
    padding: 0.5em;
    font-size: 0.9em;
    text-decoration: none;
    border: 1px solid #CCCCCC;
    color: gray;
    opacity: 0.7;
  box-shadow: 4px 4px 0px 3px, 0px 0px 0px 3px;

}
.logo-img{
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.x:hover{
    transition: all 0.4s;
    color:black;
    background-color: rgb(163, 163, 163);
    box-shadow: 0px 0px 0px 0px ,
      3px 3px 0px 0px ;

    opacity: 1;

}
h1{
font-size: 50px;
}


.m{

color: black;

}
body{
  margin-right: 4em;
  margin-left: 4em;
}
section{
  font-family: "roboto mono", monospace;
  padding-top: 2em;
  padding-left: 1em;
  word-spacing: 5px;
}
